@model  Models.Models.DeleteViewModel

@using (Html.BeginForm("Delete", Model.Controller, FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="itemId" />
    <button type="submit" class="btn btn-danger submitConfirmDelete">Delete</button>
    <a href="@Url.Action("Index", Model.Controller)" class="btn btn-secondary">Cancel</a>
}